h1 {
  color: aqua;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
h2 {
  text-align: center;
  color: aqua;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
body {
  background-color: rgb(88, 89, 90);
  background-image: url("Images/Pc Photo.jpg");
  background-position: center;
  background-size: cover;
}
nav {
  background-color: rgba(196, 160, 160, 0.486);
  border: px solid green;
  margin: 0%;
  padding: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  
}
nav ul li a {
  text-decoration: none;
  color: rgb(221, 116, 63);
  display: block;
  text-transform: uppercase;
}
p1 ul li {
  /*this shows the paragraph one sytyling*/
  color: chartreuse;
  font-style: inherit;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}
p2 ol li {
  text-transform: capitalize;
  text-align: center;
  list-style: none;
  color: rgb(172, 211, 63);
}
